@import "tailwindcss";

 @plugin "daisyui" {
   themes: light --default;
 }
  @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #D6B87A;
  --color-secondary: #3B2F2F;
  --color-accent:  #E8CFA3 ;
  --color-neutral: #F5E1C0 ;
   
}
@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));